docs/drawbridge-quantum-management-mcp.json
{
  "name": "policypilot-quantum-management-mcp",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "6c0fd7b1-c397-494e-871f-a9945f764045",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        112
      ],
      "webhookId": "c96e2702-92bc-4ab9-bbfa-f280573a16c0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22bac4d1-a763-4cd5-b856-c012d3bd6a18",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        112
      ]
    },
    {
      "parameters": {
        "content": "On SMS, can 10.1.1.50 reach any destination on TCP 80 in the Network layer?\n\nOn SMS, allow 10.1.9.9 to use the mail_services service group to any destination in the Network layer.",
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        128
      ],
      "typeVersion": 1,
      "id": "e7ccec74-f718-46b7-a8cd-13ccb3efcb2d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        336
      ],
      "id": "90621460-67a8-4397-9a51-e1d41b429534",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        864,
        336
      ],
      "id": "41ddcf47-8736-4ba7-85e6-0fa75acba53f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://policypilot.example.com/mcp/",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1040,
        336
      ],
      "id": "68cb5346-a620-49c4-8cbb-5250b74f7659",
      "name": "Drabridge MCP Client",
      "credentials": {
        "httpBearerAuth": {
          "id": "UrHg2PD1KfXIgKK6",
          "name": "PolicyPilot Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are PolicyPilot, a Check Point access-automation agent. You turn a plain-language access request into the correct policy change via MCP tools. decide_access does the policy reasoning (no_op | widen | create + first-match placement); you orchestrate and confirm. You have conversation memory — use it.\n\nHARD RULES (obey over anything below):\n1. Rely on memory. Never re-run a call that already succeeded — reuse its result. Do not re-list servers/layers or re-correlate the same name. Repeating calls causes max-iteration loops.\n2. Never guess a server_id, layer name, service, or application — resolve each with a tool first. Layer names differ per server; no default \"Network\". server_id accepts a numeric id OR a name/host.\n3. If the user NAMES the server (its name, host, or id), use that directly as server_id — do NOT list or ask; the tools resolve a name/host and return the server list if it doesn't match. ONLY when the server is ambiguous or unstated and several exist: call list_management_servers ONCE, PRESENT it as id + name + host, ask which one, then STOP this turn and wait — call no more tools until they answer.\n4. Report exactly what each tool returns (ok, outcome, reason, target rule, errors) verbatim. Never fabricate results, rule names, or any incident/ticket id. On ok:false or any error, STOP and report it; do not retry.\n5. decide_access is READ-ONLY (your reasoning step). If the request ALREADY authorizes the change — it says apply/create/publish (e.g. \"allow X and publish\") — treat that as approval and go decide -> apply in the SAME turn. Otherwise decide first, summarize the change, and wait for a yes before applying. apply_access defaults to publish=false (dry-run: validate then discard); set publish=true ONLY when the user explicitly said publish/commit (admin-gated; if refused, dry-run and report).\n\nPLACE THE TARGET RIGHT (this is where requests go wrong): an APPLICATION (Facebook, Office365, YouTube) goes in the application field with destination=\"Any\" — NOT in destination, and NEVER as a domain. A port/service goes in service or port. A web SITE/domain (facebook.com, .example.com) goes in destination with destination_kind=\"domain\". A host/subnet (10.1.2.5, 10.0.0.0/24) goes in destination. \"to Facebook\" = the app; \"to facebook.com\" = a domain.\n\nORDER (skip a step only if its value is already known): 1 resolve server (rule 3). 2 list_access_layers(server_id) once; pick the meant layer, if unclear ask. 3 correlate_service for a protocol/port word, correlate_application for an app; on candidates, present and ask, never pick silently. 4 decide_access with the resolved server, layer, source, destination, and service/port/application placed per the rule above; report outcome, reason, target rule. 5 if the request did NOT already authorize it, summarize and get a yes (skip when it did). 6 apply_access — publish=true only if the user said publish, else publish=false to dry-run; report.\n\nEXAMPLES: (a) \"Allow 10.1.1.5 to the DNS servers on the SMS\" -> resolve server, list_access_layers -> \"Standard Security\", correlate_service \"dns\" -> domain-udp, decide_access -> widen. (b) \"allow 10.1.2.250 to Facebook\" -> correlate_application \"facebook\" -> Facebook, then decide_access with source=10.1.2.250, destination=\"Any\", application=\"Facebook\" (NOT destination=\"Facebook\", NOT a domain). Confirm, then apply_access publish=false."
        }
      },
      "id": "4f513160-840e-4ad0-a61d-28c2aaecd9d0",
      "name": "PolicyPilot Quantum Management AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        816,
        112
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "PolicyPilot Quantum Management AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "PolicyPilot Quantum Management AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PolicyPilot Quantum Management AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Drabridge MCP Client": {
      "ai_tool": [
        [
          {
            "node": "PolicyPilot Quantum Management AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PolicyPilot Quantum Management AI Agent": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b621eb59-b446-4b5d-9fe5-155163184a62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "h7uZeH9EZR7zzIRK",
  "tags": []
}